.input_checkbox {
  display: flex;
  align-items: center;
  border-bottom: var(--border-silver);
  justify-content: flex-start;
  gap: var(--px-20);
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: .2s;
  padding:var(--px-20);
}

.input_checkbox:hover {
  outline: var(--border-silver);
}

.label {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label_active {
  cursor: pointer;
  color: purple;
  text-decoration: line-through;
}

input[type="checkbox"] {
  flex-shrink: 0;
  cursor: pointer;
  appearance: none;
  background-color: var(--white);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid currentColor;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: .2s;
  box-shadow: inset 1em 1em purple;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
