:root {
  --px-20: 20px;
  --width-320: 320px;
  --width-400: 400px;
  --border-silver: 1px solid #ddd;
  --typography-text: normal 400 14px / 18px sans-serif;
  --color-silver: #545454;
  --white: #ffffff;
}
